*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: rgb(70, 70, 148);
}

#start, #pause, #reset, #heading {
    font-family: cursive;
} 

#stopWatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgb(240, 232, 232);
    margin: 5rem;
}

#start, #pause, #reset {
    padding: 0.7rem;
    font-size: medium;
    margin: 0 1rem 3rem;
    color: whitesmoke;
    border-radius: 8px;
    border: none;
    width: 5rem;
    cursor: pointer;   
}

#start {
    background-color: rgb(16, 135, 16);
}

#pause {
    background-color: rgb(141, 16, 16);
}

#reset {
    background-color: rgb(97, 89, 89);
}

#displayTime {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 3rem auto;
    color:rgb(45, 45, 212);
    font-size: 2rem;
    padding: 2rem;
    border-radius: 30px;
}

#heading {
    color: rgb(127, 24, 24);
    text-shadow: 1px 1px rgb(141, 49, 49);
    margin: 3rem 0 0;
}
    
